body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#container {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 100vw;
  height: 100vh;
  /* border: 10px #333 solid; */
}

.buttons {
  display: flex;
  justify-content: center;
}
#video {
  /* display: inline-block; */
  display: flex;
  flex-grow: 1;
  align-self: center;
  max-width: 500;
  max-height: 375;
  background-color: #666;
}

#output-canvas {
  /* display: flex; */
  flex-grow: 1;
  /* object-fit: contain; */
  margin: 0px auto;
  max-width: 500;
  max-height: 375;
  background-color: transparent;
  /* border: 10px rgb(219, 60, 60) solid; */
}
